services:
  postgres:
    image: postgres:{{postgres_version}}
    container_name: {{postgres_container_name}}
    hostname: {{postgres_container_name}}
    ports:
      - "100.64.0.3:{{postgres_port}}:5432"
    environment:
      POSTGRES_DB: {{postgres_db}}
      POSTGRES_USER: {{postgres_user}}
      POSTGRES_PASSWORD: {{postgres_password}}
    volumes:
      - {{keycloak_db_location}}/pg_data:/var/lib/postgresql/data
    networks:
      - keycloak
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U {{postgres_user}} -d {{postgres_db}}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: always

  keycloak:
    # image: quay.io/keycloak/keycloak:{{keycloak_version}}
    image: ghcr.io/biostrefa/keycloak-custom:latest
    container_name: {{ keycloak_container_name }}
    command:
      - start
      - --optimized
      - --cache=local
    ports:
      - "8059:8080"
    environment:
      KC_PROXY_ADDRESS_FORWARDING: "true"
      KC_CACHE: "local"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME: "https://auth.polishlink.info"
      KC_PROXY_HEADERS: "xforwarded"
      KC_HTTP_ENABLED: "true"
      KC_DB: "postgres"
      KC_DB_URL: "jdbc:postgresql://postgres/{{postgres_db}}"
      KC_DB_USERNAME: {{postgres_user}}
      KC_DB_PASSWORD: {{postgres_password}}
      KEYCLOAK_ADMIN: {{keycloak_admin_name}}
      KEYCLOAK_ADMIN_PASSWORD: {{keycloak_admin_password}}
      KEYCLOAK_API_KEY: "{{ keycloak_api_key}}"
      WEBHOOK_HTTP_BASE_PATH: "https://demo-api.avizi.org/v1/auth/users/new"
      WEBHOOK_HTTP_AUTH_USERNAME: "kc"
      WEBHOOK_HTTP_AUTH_PASSWORD: {{ webhook_http_auth_password }}
      WEBHOOK_EVENTS_TAKEN: "REGISTER,REGISTER_ERROR,USER-CREATE"
    networks:
      - keycloak
      - tunnels-network
    restart: always

networks:
  keycloak:
    name: keycloak
  tunnels-network:
    name: tunnels-network
    external: true
